
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #232f3e;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  .header p {
    margin: 0;
    padding: 5px;
  }
  .header a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
  }
  .header h1 {
    margin-top: 0;
    text-align: center;
  }
  .header h2 {
      text-align: center;
      color: #333333;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .containerLogin {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  .containerDetail {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  } 
  .containerF {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  .ebook-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  .ebook-item {
    border: 1px solid #dddddd;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
  }
  form {
    margin-top: 20px;
  }
  imgDetail {
    display: block;
    margin: 0 auto 20px;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #232f3e;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #232f3e;
  }
  .link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #666666;
  }
  .product-info {
    margin-bottom: 20px;
  }
  .product-info p {
    margin: 5px 0;
  }
  .product-info a {
    color: #0066c0;
    text-decoration: none;
  }
  .productList {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    width: 350px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .productList p {
    margin: 0;
    padding: 5px;
  }
  .productList img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 3px solid #fff;
  }
  .productList h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .productList .price {
    font-weight: bold;
  }
  .comments {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background-color: #FFFFFF;
  }
  .comment-item {
    margin-bottom: 10px;
  }
  .comment-item p {
    margin: 5px 0;
  }
  .comment-form {
    margin-bottom: 20px;
  }
  .comment-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .comment-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #FF9900;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .comment-form input[type="submit"]:hover {
    background-color: #FF8800;
  }
  .error-msg {
    color: #FF0000;
  }