  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
  }
  header {
    background-image: url(images/泡と本5.png);
    background-size: cover;
    background-position: center;
    background-blend-mode:lighten;
    color: #303030;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  .title-container {
      background-color: rgba(235,235,245,0.7);
      padding: 10px;
      width: 700px;
      margin: auto;
      text-align: center;
  }
  .header a {
    color: #303030;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  .userName {
    color: #303030;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .containerLogin {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  .containerLogin h1,h2 {
      text-align: center;
  }
  .containerDetail {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.06);
  } 
  .containerF {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
  }
  .ebook-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  .ebook-item {
    border: 1px solid #303030;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 5px;
  }
  form {
    margin-top: 20px;
  }
  imgDetail {
    display: block;
    margin: 0 auto 20px;
    border: 3px solid #fafafa;
    border-radius: 5px;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    width: 140px;
    padding: 10px;
    background-color: #ffa500;
    color: #fafafa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  input[type="submit"]:hover {
    background-color: #ffb833;
  }
  .link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #666666;
  }
  .productImage {
    float: left;
    margin-right: 30px;
  }
  .product-info {
    margin-bottom: 20px;
  }
  .product-info p {
    margin: 5px 0;
  }
  .product-info a {
    color: #0066c0;
    text-decoration: none;
  }
  .productList {
    padding: 10px;
    margin-bottom: 10px;
    width: 240px;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  }
  .productList p {
    margin: 0;
    padding: 5px;
  }
  .productList img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 3px solid #fafafa;
  }
  .productList h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .comments {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #fafafa;
    clear: both;
  }
  .comment-item {
    margin-bottom: 10px;
  }
  .comment-item p {
    margin: 5px 0;
  }
  .comment-form {
    margin-bottom: 20px;
    text-align: center;
    margin: auto;
  }
  .comment-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .comment-form input[type="submit"] {
    width: 100px;
    padding: 10px;
    margin: 10px, auto, 10px;
    background-color: #ffa500;
    color: #fafafa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .comment-form input[type="submit"]:hover {
    background-color: #ffb833;
  }
  .error-msg {
    color: #ff0000;
  }
  .button {
      margin: auto;
      text-align: center;
  }